*{
    margin:0;
    padding:0;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #121212;
    color: white;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
  }

li{
    list-style-type:none;    
}
ul{
    display:flex;
    gap:20px;
    font-size:20px;
}
a{
    color:white;
    text-decoration:none;
    transition: all 0.1s ease;
   
}

a:hover{
    background-color: #808f9f;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(74, 158, 255, 0.3);
}
nav p {
    font-size:25px;
}