.veiw-container{
    width:400px;
    height:400px;
    border:1px solid #ddd;
    border-radius:10px;
    margin:auto;
    margin-top:50px;
}

.back-btn{
    width:100px;
    height:30px;
    margin-top:270px;
    border-radius: 10px;
    border:none;
    background-color: rgb(203, 203, 245);
    margin-left:150px;
    cursor: pointer;
    transition: all 0.3s ease;
}